:root{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  overflow-y: hidden;

}

.world{
  position: absolute;
  top:0;
  left:0;
  display: flex;
  flex-direction: column;

}

/* 
landing page!!
*/
.startDiv{
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  position: absolute;
  z-index: 1;

}

.landing_logo{
  object-fit: contain;
  content: url(./img/logo2.jpg); 
  height: 30vh;
  width: 30vw;

}
.start{
  color: #0062FF;
  background-color: lightseagreen;
  width:10vw;
  font-size: 2rem;
  position: relative;
  border-radius: 10px;
}
.start:hover{
  animation: shake 4s infinite linear;
  background-color: mediumaquamarine;
}
.tutorial_div{
  
  background-image: linear-gradient( rgba(255, 255, 255, 0.733),rgba(255, 255, 255, 0.4) ), url(./img/higher_res_img/tutorial_background.jpg);
  position: fixed;
  height:50vh;
  width:50vw;
  top: 30%;
  left:25%;
  z-index:-2;
  opacity: 0;
  padding-left: 2vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  font-size: 2rem;
}

.landing_page_img{
  max-height: 2rem;
  width:auto;
}
/* rows: */
.row{
  display: flex;
  flex-direction: row;
}

/* general square-style. */
.square{
  display: inline-block;
  height: 4vh;
  width: 4vh;
  background: no-repeat;
  background-size: cover;
  overflow: hidden; /* this line added */

}
.square:hover{
  outline: 2px solid grey;
}
.square_ipad{
  height: 5vh;
  width: 5vh;
}

.square_small{
  height: 3vh;
  width: 3vh;
  border: 1px solid white;
}

/* different square classes for different size: */
.landing_Page_square{
  display: inline-block;
  height : 22vh;
  width : 22vh;
  background: no-repeat;
  background-size: cover;
}

/* diferent kinds of square backgroungds for diferent materials */
.square_dirt{
  background: url(./img/dirt.jpg) no-repeat center center/cover;
}
.square_bellow_surface{
  background: url(./img/grass.png) no-repeat center center/cover;
  /* background-image: url(./img/grass.png); */
}
.square_plants{
  background: url(./img/leaf.png) no-repeat center center/cover;;
}
.square_rock{
  background: url(./img/rock.png) no-repeat center center/cover;;
}
.square_log{
  background: url(./img/trunk.png) no-repeat center center/cover;;
}
.square_cloud{
  background: url(./img/cloud.png) no-repeat center center/cover;;
}
.square_sky{
  background-color: skyblue;
}
/* 
building materials:
*/
.square_pickaxe{
  background: url(./img/pickaxe.jpg) no-repeat center center/cover;;
}
.square_shovel{
  background: url(./img/shovel.jpg) no-repeat center center/cover;;
}
.square_axe{
  background: url(./img/shovel.jpg) no-repeat center center/cover;;
}

.right_div{
  background: #4C566A;
  height: 100vh;
  /* does it work?? */
  width: 21.5vh;
  position: absolute;
  top:0;
  right:0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2vh;
}
.shovel{
  padding-top: 3vh;
}
/* HIDE RADIO */
[type=radio] { 
  position: absolute;
  
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
  border : solid white 1px;
  height: 12vh;
  width: 12vh;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  background-color: blue;
}
[type=radio]:hover + img{
  outline: 2px solid red;
}
#shovel_img{
  background: url(./img/shovel.jpg) no-repeat cover;
}
#pickaxe_img{
  background: url(./img/pickaxe.jpg) no-repeat cover;
}
#axe_img{
  background: url(./img/axe.jpg) no-repeat cover;
}

.inventory_wrap{
  display: block;

  padding-top: 4vh;
}
.inventory{
  position: relative;
  left: 0.5vh;
  display: inline-block;
  height: 10vh;
  width: 10vh;

}
.inventory:hover{
  outline: 1px solid green;
}
.invisible{
  display: none;
}
.small_number{
  position: absolute;
  top:0;
  right:0;

  font-size: 3vh;
  text-align: right;
}
/* this is for the inventory divs: */
#square_dirt{
  background: url(./img/higher_res_img/soil.jpg) no-repeat center center/cover;;
}

#square_bellow_surface{
  background: url(./img/higher_res_img/grass.png) no-repeat center center/cover;
  /* background-image: url(./img/grass.png); */
}
#square_plants{
  background: url(./img/higher_res_img/tree-leaves.png) no-repeat center center/cover;;
}
#square_rock{
  background: url(./img/higher_res_img/rock.png) no-repeat center center/cover;;
}
#square_log{
  background: url(./img/higher_res_img/trunk.jpg) no-repeat center center/cover;;
}
#square_cloud{
  background: url(./img/higher_res_img/cloud.png) no-repeat center center/cover;;
}

.game_control{
  color: #0062FF;
  width:85%;
  position: relative;
  border-radius: 10px;
  /* margin: auto; */
}
.reset:hover {
  animation: shake 4s infinite linear;
  background-color: darkblue;
}
.exit:hover{
  animation: shake 4s infinite linear;
  background-color: red;

}
@keyframes shake {
  0% {left: 0}
  1% {left: -3px}
  2% {left: 5px}
  3% {left: -8px}
  4% {left: 8px}
  5% {left: -5px}
  6% {left: 3px}
  7% {left: 0}
}